body{
    font-family: arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header{
    background-image: url(Fondo.png);
    background-size: cover;
    /* background: #333; */
    color: #fff;
    text-shadow: 2px 2px 4px #333;
    padding: 20px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

/* Sobre nosotros */
#about{
    padding: 20px;
    background: #f4f4f4;
}

#about h2{
    margin-top: 0;
}

/* Galeria */
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Portafolio */
.project{
    width: 300px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.project img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

/* ubicaciones */
.ubicacion{
    display: flex;
    justify-content: center;
}

/* Contactenos */
.contact{
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    margin-bottom: 5px;
}

form input, form textarea{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

form input[type="submit"]{
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contacto{
    display: flex;
    justify-content: center;
}

/* Responsive */
@media(max-width: 600px){
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery{
        flex-direction: column;
        align-items: center;
    }

    .ubications{
        flex-direction: column;
        align-items: center;
    }
}